/*geral*/
body {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Flamenco';
    font-weight: normal;
    text-align: center;
    font-size: 29px;
    margin-bottom: 0;
}

h2 {
    font-family: 'Flamenco';
    text-align: center;
    font-size: 28px;
}

p {
    font-family: 'Asap';
    font-size: 17px;
}

/*nav*/
.topbar {
    font-family: 'Asap';
    background-color: transparent;
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px 100px;
    top: 0;
}

.topbar ul li {
    display: inline-block;
}
.menu {
    padding-right: 230px;
}
.menu a {
    text-decoration: none;
    padding: 5px 20px;
    color: white;
}

.brand img {
    width: 90px;
}

a.quero-btn {
    color: #fedd6a;
    padding: 5px;
}
.quero-btn {
    border: 1px solid #fedd6a;
    border-radius: 5px;
}

/*header*/
header {
    background: url(../img/bg-banner.png);
    background-size: cover;
    min-height: 85vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
    padding-top: 15px;
    color: white;
}

header p {
    margin-top: 10px;
    margin-bottom: 40px;
}

header a {
    background-color: #fedd6a;
    color: saddlebrown;
    padding: 10px 35px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: 5s all;
    font-family: 'Asap';
}

header a:hover {
    background-color: saddlebrown;
    color: #fedd6a;
    transition: 1s color;
}

header a:active, 
header a:focus,
header a:visited {

}

/*sobre*/
.sobre > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-sobre {
    max-width: 30%;
    margin: 30px;
}

.desc-sobre h2 {
    text-align: left;
}

/*etapas*/
.passos {
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}

.passos > div {
    max-width: 20%;
    text-align: center;
}



